.mesa-item {
  position: relative;
}

.mesa-item.disponible {
  cursor: pointer;
  opacity: 1;
}

.mesa-item.reservado {
  cursor: not-allowed;
  opacity: 0.6;
}

.estado-label {
  font-weight: bold;
}

.estado-label.disponible {
  color: rgb(5, 5, 5);
}

.estado-label.reservado {
  color: red;
}

.mostrar-mas-container {
  text-align: center;
  margin-top: 20px;
}

.mostrar-mas-btn {
  padding: 10px 20px;
  background-color: #22c55e;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-weight: bold;
}
